<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/static/css/bootstrap.min.css" rel="stylesheet">
  <link href="/reference/ucsf_identity_web_banner_templates-1.4/banners.css" 
    rel="stylesheet" type="text/css">
  
  <title>Hernandez Lab - UCSF</title>
</head>

<body>
  <!-- UCSF Banner  --> 
  <div id="ucsf-banner-nav" class="logo">
    <div class="top-header-container row">
      <ul class="menu">
        <li class="first">
          <a href="http://www.ucsf.edu">University of California San Francisco
          </a></li>
        <li><a href="http://www.ucsfhealth.org/">UCSF Medical Center</a></li>
        <li><a href="http://www.ucsf.edu/search" title="">Search UCSF</a></li>
        <li><a href="http://www.ucsf.edu/about">About UCSF</a></li>
      </ul>
    </div>
  </div> <!-- /UCSF Banner -->
  <!-- Hernandez Lab Banner -->
  <nav class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" 
          data-toggle="collapse" data-target="#navbar" aria-expanded="false"
          aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
          <a class="navbar-brand" href="#">Hernandez Lab</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
              {% for link in site.data.navlinks %}
                {% if link.group == page.group %}
                  <li class="active"><a href="{{link.link}}" alt="{{link.name}}">{{link.name}}</a></li>
                {% else %}
                  <li><a href="{{link.link}}" alt="{{link.name}}">{{link.name}}</a></li>
                {% endif %}
              {% endfor %}
          </ul>
          
        </div>
      </div>
    </nav><!-- /Hernandez Lab Banner -->
  
  This site is a prototype for the new Hernandez Lab website and is currently under development. Please visit <a href="http://dbts.ucsf.edu/hernandez_lab/">http://dbts.ucsf.edu/hernandez_lab/</a> in the mean time.
    
    <div class="container"><!-- Main content -->
      <div class="starter-template">
        <h1 id="research">Hernandez Lab</h1>
        <p class="lead">
          The Hernandez Lab studies patterns of genetic variation from populations around the world using large scale sequencing data. Using detailed simulations and population genetic modeling, we seek to understand the role that natural selection and demography have had on the patterning of variation throughout our genomes.
        </p>
  
      </div>

    </div><!-- /.container -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>

</body>
</html>
