---
group: people
---
{% for gp in site.data.members %}
  <h2>{{gp.group}}</h2>
  {% for member in {{gp.members}} %}
    
    {% if gp.group != 'Ryan Hernandez' %}
      <h3>{{member.name}}</h3>
    {% endif %}
    
    <div class="row">
      <div class="col-sm-5">
        {% if member.image %}
          <img src="{{member.image}}" alt="{{member.name}} headshot">
        {% endif %}
        {% if member.affiliation %}
          <p>{{member.affiliation | markdownify}}</p>
        {% endif %}
        {% if member.contact %}
          <p>{{member.contact | markdownify}}</p>
        {% endif %}
      </div>
    
      <div class="col-sm-7">
        {% if member.bio %}
        {% capture bio %}{% include {{member.bio}} %}{% endcapture %}
        {{ bio | markdownify }}
        {% endif %}
      </div>
    </div>
  
  {% endfor %}
{% endfor %}